absl-py
aioice
aiortc
albumentations
altair
appdirs
asgiref
asttokens
astunparse
attrs
av
black
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
comm
contourpy
cryptography
cycler
Cython
debugpy
decorator
Django
django-crispy-forms
django-pandas
dlib
dm-tree
dnspython
et-xmlfile
exceptiongroup
executing
face-recognition
face-recognition-models
Flask
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-crc32c
google-pasta
grpcio
h5py
idna
ifaddr
imageio
importlib-metadata
imutils
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
Keras-Preprocessing
keras-utils
kiwisolver
lazy_loader
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mtcnn
mypy-extensions
nest-asyncio
networkx
numpy
oauthlib
opencv-contrib-python
opencv-contrib-python-headless
opencv-python
opencv-python-headless
openpyxl
opt-einsum
packaging
pandas
parso
pathspec
pexpect
Pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pyDatalog
pydeck
pyee
Pygments
pylibsrtp
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
requests
requests-oauthlib
rich
rpds-py
scipy
six
smmap
sqlparse
stack-data
starlette
streamlit
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
termcolor
tomli
toolz
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
watchdog
webencodings
Werkzeug
wrapt
zipp
